---
extends: default
rules:
  line-length:
    max: 160
    level: warning
  truthy:
    allowed-values:
      - "true"
      - "false"
      - "yes"
      - "no"
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: true
  indentation:
    spaces: 2
    indent-sequences: true
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore:
  - .github/
  - .venv/
  - molecule/
  - ansible_collections/ansible/
  - ansible_collections/*.info/
